.main {
	min-height: 100vh;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 10px;
}

.logo {
	display: inherit;
	flex-direction: row;
	align-items: inherit;
}

.logo svg {
	width: 100px;
	height: 50px;
	color: #000;
}

.logo p {
	color: #000;
	font-size: 17px;
	font-weight: 600;
	margin-top: 10px;
	margin-left: -10px;
}

.searchBar {
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 6px;
	padding: 8px 2px;
	margin-top: 10px;
}

.searchBar .searchIcon {
	padding: 6px;
	border-right: 1px solid var(--background-end);
}

.searchBar input[type="text"] {
	width: 17rem;
	outline: none;
	border: none;
	background-color: inherit;
	font-size: medium;
	color: black;
	padding: 0 0 0 5px;
}

.header button {
	cursor: pointer;
	border: none;
	outline: none;
	border-radius: 6px;
	background-color: var(--background-end);
	padding: 10px 20px;
	margin-top: 10px;
}

.nav {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin: 20px 0px;
}

.nav li {
	list-style: none;
}

.nav li a {
	font-size: 14px;
	color: #000;
	text-decoration: none;
	font-weight: 400;
}

.banner {
	position: relative;
	width: 100%;
	margin: 30px 0;
}

.bannerImg {
	position: relative;
	width: 100%;
	height: 600px;
}

.section {
	max-width: 100%;
}

.card {
	position: relative;
	margin: 0 auto;
	width: 70%;
	border-radius: 6px;
	transition: transform ease-in 3s;
	padding: 30px 0;
}

.card .comingSoonOverlay {
	position: absolute;
	bottom: 0;
	background: linear-gradient(to top, var(--background-start), transparent);
	width: 100%;
	height: 100px;
}

.card .newReleases,
.card .comingSoon,
.card .accessories,
.card .articles {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card .newReleases .cardHeader,
.card .comingSoon .cardHeader {
	text-align: center;
	margin: 20px 0;
	color: var(--background-end);
}

.card .accessories .cardHeader,
.card .articles .cardHeader {
	margin: 20px 0 20px 3em;
	align-self: flex-start;
	text-align: justify;
	color: var(--background-end);
}

.card .newReleases > span,
.card .comingSoon > span,
.card .accessories > span,
.card .articles > span {
	display: flex;
	justify-content: center;
	padding: 10px;
	flex-wrap: wrap;
	gap: 30px 20px;
}

.card .newReleases > span .gameDetails,
.card .comingSoon > span .gameDetails,
.card .articles > span .articleDetails {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 200px;
	border-radius: 10px;
	transition: transform 200ms;
	background: var(--background-end);
}

.card .accessories > span .accessoryDetails {
	display: flex;
	flex-direction: column;
	width: 200px;
	border-radius: 10px;
	transition: transform 200ms;
	background: rgba(255, 255, 255, 0.6);
}

.gameDetails img,
.accessoryDetails img {
	border-bottom: none;
	border-radius: 10px 10px 0 0;
}

.articleDetails img {
	border-radius: 10px;
}

.gameDetails .gameDesc {
	position: relative;
	height: -webkit-fill-available;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 6px 10px;
	color: var(--background-start);
}

.articleDetails .articleDesc {
	position: absolute;
	bottom: 0;
}

.articleDesc > p {
	background: linear-gradient(to top, var(--background-end), transparent);
	padding: 8px;
	text-align: center;
	color: var(--background-start);
	border-radius: 0 0 10px 10px;
	font-size: 14px;
}

.articleDesc .articleOverlay {
	display: none;
	transition: transform ease 3s;
	background-color: var(--background-start);
	color: var(--background-end);
	padding: 3px 6px;
	height: -webkit-fill-available;
	border-radius: 10px;
}

.articleDesc .articleOverlay > h5 {
	text-align: center;
	font-size: 14px;
}

.articleDesc .articleOverlay p {
	font-size: 12px;
	text-align: justify;
}

.articleDesc .articleOverlay .arrowRight {
	text-align: right;
}

.accessoryDetails .accessoryDesc {
	height: -webkit-fill-available;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 6px 10px;
	color: var(--background-end);
}

.gameDetails .gameDesc .gameName,
.accessoryDetails .accessoryDesc .accessoryName,
.articlesDetails .articleDesc .articleName {
	font-size: 14px;
	font-weight: 600;
}

.card .comingSoon > span .gameDetails .gameDesc .gameName {
	text-align: center;
}

.gameDetails .gameDesc .gameGenre {
	opacity: 0.8;
}

.gameDetails .gameDesc .gamePrice {
	font-size: 12px;
}

.gameDetails .gameDesc .gameRating {
	display: flex;
}

.accessoryDetails .accessoryDesc .accessoryDesc2 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.accessoryDetails .accessoryDesc .accessoryDesc2 > button {
	background-color: var(--background-end);
	padding: 0 12px;
	border: none;
	border-radius: 6px;
	cursor: pointer;
}

.accessoryDetails .accessoryDesc .accessoryDesc2 .accessoryDesc3 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer {
	padding: 30px 20px 20px 20px;
	background-color: var(--background-end);
	color: var(--background-start);
}

.footer > div {
	display: flex;
	justify-content: space-between;
}

.footer > p {
	text-align: center;
	font-size: 12px;
	margin-top: 50px;
}

.footer > p a {
	text-decoration: none;
}

.innerLeftDiv1 > span {
	display: flex;
}

.innerLeftDiv1 > span svg {
	font-size: 30px;
}

.innerLeftDiv1 > span h3 {
	padding: 5px;
}

.innerLeftDiv1 > p {
	margin-left: 33px;
}

.innerLeftDiv2 > p {
	margin: 20px 0;
}

.innerSpan {
	display: flex;
	margin: 10px 0;
}
.socialIcons {
	display: flex;
	gap: 10px;
}

.footerLeftDiv span p,
.innerSpan p {
	font-size: 10px;
	max-width: 320px;
}

.footerNav {
	display: flex;
}

.footerNav .navHeader {
	font-weight: bold;
	font-size: 14px;
}

.footerNav ul {
	margin: 0 25px;
}

.footerNav ul li {
	line-height: 2.5em;
	list-style-type: none;
	font-size: 12px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
	.card .newReleases span .gameDetails:hover,
	.card .comingSoon span .gameDetails:hover,
	.card .accessories span .accessoryDetails:hover,
	.card .articles > span .articleDetails:hover {
		transform: scale(1.1);
	}

	.articleDesc:hover {
		top: 0;
	}

	.articleDesc:hover > .articleOverlay {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.articleDesc:hover > p {
		display: none;
	}
}

@media (prefers-reduced-motion) {
	.card:hover div {
		transform: none;
	}
}

/* Mobile */
@media (max-width: 700px) {
	.header {
		flex-direction: column;
	}

	.bannerImg {
		height: 300px;
	}

	.card {
		padding: 1rem 2.5rem;
	}

	.card .accessories .cardHeader,
	.card .articles .cardHeader {
		margin: 20px 0;
		text-align: center;
	}

	.footer > div,
	.footerNav {
		flex-direction: column;
	}
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
	.grid {
		grid-template-columns: repeat(2, 50%);
	}
}
